.livro-imagem {
  width: 100%;  /* A imagem irá se ajustar ao tamanho do seu contêiner */
  height: auto; /* Mantém a proporção da imagem */
  max-width: 450px; /* Tamanho máximo para telas grandes */
  max-height: 680px; /* Tamanho máximo para telas grandes */
  object-fit: cover; /* Fazendo com que a imagem cubra o espaço sem distorcer */
}

/* Responsividade para telas pequenas (como celulares) */
@media (max-width: 767px) {
  .livro-imagem {
    max-width: 100%; /* A imagem irá ocupar toda a largura disponível */
    max-height: 400px; /* Ajuste para uma altura mais compacta em celulares */
    object-fit: contain; /* Ajusta a imagem sem cortar */
  }
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h5.card-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.card-body img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

button {
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .card {
    max-width: 100%;
  }
}