.btn-custom {
  background-color: #8d573a;
  border-color: #8d573a;
  color: #ffffff;
  font-weight: 600;
}

.btn-custom:hover {
  background-color: #a06a4e;
  border-color: #a06a4e;
}

.card {
  width: 100%; /* Ajusta para ocupar 100% da coluna */
  max-width: 400px; /* Limite máximo de largura */
  height: auto; /* Deixa a altura flexível */
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: auto; /* Define altura automática */
  object-fit: contain;
}
