<!-- Livro Escolhido -->
<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center"> <!-- Alinha o título -->
      <h3>Livro escolhido</h3>
      <div *ngIf="livroDesejado" class="row justify-content-center"> <!-- Centraliza o card -->
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <!-- Verifica se a imagem é Base64 e, caso contrário, ajusta -->
            <img *ngIf="livroDesejado.picture" [src]="livroDesejado.picture.startsWith('data:image') ? livroDesejado.picture : 'data:image/jpeg;base64,' + livroDesejado.picture" class="card-img-top" alt="Imagem do livro">
            <div class="card-body">
              <h5 class="card-title">{{ livroDesejado.name }}</h5>
              <p class="card-text"><strong>Autor:</strong> {{ livroDesejado.author }}</p>
              <p class="card-text"><strong>Telefone:</strong> {{ livroDesejado.phoneNumber }}</p>
              <p class="card-text"><strong>Descrição:</strong> {{ livroDesejado.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Meus Livros -->
  <div class="row mt-4">
    <div class="col-12">
      <h3 class="text-center">Trocar por</h3>
      <div class="row">
        <div *ngFor="let livro of meusLivros" class="col-md-4 col-sm-6 mb-4">
          <div class="card">
            <!-- Verifica se a imagem é Base64 e, caso contrário, ajusta -->
            <img *ngIf="livro.picture" [src]="livro.picture.startsWith('data:image') ? livro.picture : 'data:image/jpeg;base64,' + livro.picture" class="card-img-top" alt="Imagem do livro">
            <div class="card-body">
              <h5 class="card-title">{{ livro.name }}</h5>
              <p class="card-text"><strong>Autor:</strong> {{ livro.author }}</p>
              <button *ngIf="livro.id" class="btn btn-custom" (click)="offerExchange(livro.id)">Oferecer para troca</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
