<div class="container mt-5">
  <h2>Escolha um livro para oferecer a troca</h2>

  <div class="row row-cols-1 row-cols-md-3"> 
    <div class="col mb-4" *ngFor="let livro of meusLivros"> 
      <div class="card">
        <img *ngIf="livro.picture" [src]="livro.picture" class="card-img-top" alt="Imagem do Livro">
        <div class="card-body">
          <h5 class="card-title">{{ livro.name }}</h5>
          <p class="card-text"><strong>Autor:</strong> {{ livro.author }}</p>
          <button *ngIf="livro.id" class="btn btn-custom" (click)="offerExchange(livro.id)">Oferecer para Troca</button>
        </div>
      </div>
    </div>
  </div>
</div>
