.btn-custom {
  background-color: #8d573a;
  border-color: #8d573a;
  color: #ffffff;
  font-weight: 600;
}

.btn-custom:hover {
  background-color: #a06a4e;
  border-color: #a06a4e;
}

.card-body img {
  width: 100%;          /* Ocupa toda a largura do card */
  height: auto;         /* Mantém a proporção da imagem */
  max-height: 400px;    /* Define uma altura máxima para limitar o tamanho */
  object-fit: cover;    /* Garante que a imagem se ajuste ao espaço sem distorção */
  border-radius: 8px;   /* Bordas arredondadas para um estilo mais suave */
}

.card-title{
  background-color: #ffffff;
}

