<div class="container mt-4">
  <!-- Área de boas-vindas -->
  <div class="text-center bg-light p-3 rounded shadow-sm">
    <h1>Bem-vindo ao Sorobooks!</h1>
    <p class="lead">Descubra e troque livros incríveis com outros leitores.</p>
  </div>

  <!-- Livros adicionados recentemente -->
  <section class="mt-5">
    <h2 class="text-center mb-4" style="font-size: 2rem; color: #8d573a;">Livros adicionados recentemente</h2>
    <div class="livros-container">
      <div *ngFor="let livro of livros | slice:0:5" class="livro" (click)="navegarParaDetalhes(livro.id)">
        <img *ngIf="livro.picture" [src]="livro.picture" alt="Imagem do Livro">
        <h3>{{ livro.name }}</h3>
        <p>Autor: {{ livro.author }}</p>
        <p>Publicado por: {{ livro.usuarioPublicador }}</p>
      </div>
    </div>
  </section>
</div>
