.pagina {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
}

ul {
  display: flex; /* Alinha os itens da lista horizontalmente */
  gap: 20px; /* Espaçamento entre os itens */
  list-style-type: none; /* Remove os bullets da lista */
  padding: 0;
  margin: 0; /* Remove a margem padrão do ul */
}

li {
  padding: 10px;
  border: 1px solid #ddd; /* Adiciona uma borda aos itens para visualização */
  border-radius: 5px; /* Arredonda as bordas dos itens */
  background-color: #f0f0f0; /* Cor de fundo dos itens */
}
