.container {
  max-width: 100%;
  margin: 0 auto;
}

.admin-section {
  margin-top: 20px;
}

.card {
  border: none;
}

.table td.descricao-livro {
  white-space: normal;
  max-width: 200px; 
  word-wrap: break-word; 
}

table {
  width: 100%;
  table-layout: auto;
  word-wrap: break-word;
}

table th, table td {
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}

button {
  margin-right: 5px;
}

.modal-body p {
  font-size: 1.1em;
}

.modal-footer .btn {
  min-width: 80px;
}

@media (max-width: 576px) {
  .card {
    padding: 10px;
  }
  .table-responsive {
    overflow-x: auto;
  }
  .table th, .table td {
    font-size: 0.9em;
    white-space: normal;
  }
  .modal-body p, .modal-footer .btn {
    font-size: 0.9em;
  }
}
