.container {
  max-width: 100%;
  margin: 0 auto;
}

.admin-section {
  margin-top: 30px;
}

.card {
  border: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 10px;
}

.table {
  width: 100%;
  table-layout: auto;
  word-wrap: break-word;
  border-collapse: collapse; /* Para unir as bordas das células */
}

.table th, .table td {
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  padding: 10px 15px;
  border: 1px solid #dee2e6; /* Borda entre as células */
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.table td.descricao-livro {
  white-space: normal;
  max-width: 250px;
  word-wrap: break-word;
  padding: 8px;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-dark th {
  background-color: #343a40;
  color: #fff;
}

button {
  margin-right: 5px;
}

.modal-body p {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.modal-footer .btn {
  min-width: 80px;
}

@media (max-width: 768px) {
  .card {
    padding: 15px;
  }

  .table th, .table td {
    font-size: 0.9em;
    padding: 8px;
    white-space: normal;
  }

  .modal-body p, .modal-footer .btn {
    font-size: 0.9em;
  }
}
