<div class="livros-container row justify-content-center">
  <div *ngFor="let livro of livros" class="col-sm-6 col-md-4 col-lg-3 mb-4">
    <div class="card shadow-sm h-100 border-light rounded">
      <!-- Exibe a imagem com proporção mantida -->
      <img *ngIf="livro.picture" 
           class="card-img-top img-fluid p-3" 
           [src]="livro.picture" 
           alt="Imagem do Livro">

      <div class="card-body d-flex flex-column">
        <h5 class="card-title text-truncate" title="{{ livro.name }}">
          <i class="bi bi-book-fill me-2"></i>{{ livro.name }}
        </h5>
        
        <p class="card-text">
          <i class="bi bi-person-fill me-2"></i>Autor: <span class="text-muted">{{ livro.author }}</span>
        </p>
        <p class="card-text">
          <i class="bi bi-tags-fill me-2"></i>Gênero: <span class="text-muted">{{ livro.genre }}</span>
        </p>
        <p class="card-text">
          <i class="bi bi-telephone-fill me-2"></i>Telefone: <span class="text-muted">{{ livro.phoneNumber }}</span>
        </p>
        <p class="card-text">
          <i class="bi bi-person-circle me-2"></i>Publicado por: <span class="text-muted">{{ livro.usuarioPublicador }}</span>
        </p>

        <div class="mt-auto">
          <button class="btn btn-primary btn-block" (click)="navegarParaDetalhes(livro.id)">
            <i class="bi bi-info-circle me-2"></i>Ver Detalhes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
