.livros-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.card {
  width: 300px; /* Largura fixa para todos os cards */
  height: 450px; /* Altura fixa para manter tamanhos uniformes */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 100%; /* Garante que ocupe toda a largura do card */
  height: 200px; /* Altura fixa para as imagens */
  object-fit: contain; /* Mostra a imagem completa sem cortes */
  border-bottom: 1px solid #ddd;
  background-color: #f8f9fa; /* Fundo claro para imagens transparentes */
}

.card-body {
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribui os elementos no espaço */
  height: calc(100% - 200px); /* Altura total do card menos a imagem */
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 0.9em;
  margin-bottom: 5px;
}
