<div *ngIf="user; else loading">
  <h1>Perfil de {{ user.name }}</h1>
  <button (click)="openEditProfileModal(editProfileModal)">Editar Perfil</button>

  <div>
    <p>Email: {{ user.email }}</p>
    <p>Telefone: {{ user.phoneNumber }}</p>
    <p>Data de Nascimento: {{ user.dateOfBirth }}</p>
    <p>Sexo: {{ user.sex }}</p>
    <p>Foto de Perfil: <img [src]="user.profilePicture" alt="Foto de perfil" width="100" /></p>
  </div>
</div>

<ng-template #loading>
  <p>Carregando...</p>
</ng-template>

<!-- Modal de edição de perfil -->
<ng-template #editProfileModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Editar Perfil</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('cancel')"></button>
  </div>
  <div class="modal-body">
    <form #editProfileForm="ngForm">
      <div class="form-group mb-3">
        <label for="userName" class="form-label">Nome:</label>
        <input *ngIf="userToEdit" type="text" id="userName" class="form-control" [(ngModel)]="userToEdit.name" name="name" required />
      </div>
      <div class="form-group mb-3">
        <label for="userPhone" class="form-label">Telefone:</label>
        <input *ngIf="userToEdit" type="text" id="userPhone" class="form-control" [(ngModel)]="userToEdit.phoneNumber" name="phoneNumber" />
      </div>
      <div class="form-group mb-3">
        <label for="userPassword" class="form-label">Nova Senha:</label>
        <input *ngIf="userToEdit" type="password" id="userPassword" class="form-control" [(ngModel)]="userToEdit.password" name="password" />
        <small class="form-text text-muted">Deixe em branco para manter a senha atual.</small>
      </div>
      <div class="form-group mb-3">
        <label for="userProfilePicture" class="form-label">Foto de Perfil:</label>
        <input type="file" id="userProfilePicture" class="form-control" (change)="onFileSelected($event)" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="saveProfileChanges(modal)">Salvar</button>
  </div>
</ng-template>
