.text-center {
  font-family: 'Lora', serif; /* Troque por sua fonte desejada */
}

.btn-custom {
    background-color: #8d573a; /* cor do botão */
    color: white; /* Cor do texto */
    margin: 5px;
  }

  .btn-custom1{
    background-color: #e93936;
    color: white; /* Cor do texto */
    margin: 5px;
    
  }

  .form-control{
    border: 1px solid ;
  }