<div class="profile-container container mt-5" *ngIf="user; else noUser">
  <div>
    <div class="profile-header d-flex justify-content-between align-items-center mb-4">
      <h2 class="text-primary">Seu Perfil</h2>
      <button (click)="logout()" class="btn btn-danger">SAIR  </button>
    </div>
    <div class="profile-details">
      <p class="mb-2"><strong>Nome:</strong> {{ user.name }}</p>
      <p class="mb-2"><strong>Email:</strong> {{ user.email }}</p>
      <p class="mb-0"><strong>Gênero:</strong> {{ user.sex }}</p>
    </div>
  </div>
</div>

<ng-template #noUser>
  <div style="text-align: center;">
      <h2>Você ainda não está logado.</h2>
  </div>
</ng-template>

