<div class="container mt-5">
    <!-- Título da Página -->
    <div class="text-center mb-4">
        <h1>Nossa equipe</h1>
        <p>Conheça a equipe por trás do Sorobooks!</p>
    </div>

    <!-- Cards da Equipe -->
    <div class="row text-center">
        <!-- Membro 1 -->
        <div class="col-md-4 col-lg-2 offset-lg-1 mb-4">
            <div class="card shadow-sm">
                <img src="/assets/Felipe.jpeg" class="card-img-top" alt="Foto de Membro 1">
                <div class="card-body text-justify">
                    <h5 class="card-title font-weight-bold">Felipe Nicacio Chiavelli</h5>
                    <p class="card-text">Função: Frontend</p>
                    <p class="card-text">Participou do desenvolvimento do Frontend da página. Integrações ao backend da página e realização de testes.</p>
                </div>
            </div>
        </div>

        <!-- Membro 2 -->
        <div class="col-md-4 col-lg-2 mb-4">
            <div class="card shadow-sm">
                <img src="/assets/GabrielAc.jpeg" class="card-img-top" alt="Foto de Membro 2">
                <div class="card-body text-justify">
                    <h5 class="card-title font-weight-bold">Gabriel Acciari Silva</h5>
                    <p class="card-text">Função: Backend.</p>
                    <p class="card-text">Participou do desenvolvimento do Backend da página e em sugestões de design.</p>
                </div>
            </div>
        </div>

        <!-- Membro 3 -->
        <div class="col-md-4 col-lg-2 mb-4">
            <div class="card shadow-sm">
                <img src="/assets/GabrielAr.jpeg" class="card-img-top" alt="Foto de Membro 3">
                <div class="card-body text-justify">
                    <h5 class="card-title font-weight-bold">Gabriel Arantes Carneiro</h5>
                    <p class="card-text">Função: Banco de dados.</p>
                    <p class="card-text">Participou do desenvolvimento do Banco de dados e do desenvolvimento do banner.</p>
                </div>
            </div>
        </div>

        <!-- Membro 4 -->
        <div class="col-md-4 col-lg-2 mb-4">
            <div class="card shadow-sm">
                <img src="/assets/Hellen.jpeg" class="card-img-top" alt="Foto de Membro 4">
                <div class="card-body text-justify">
                    <h5 class="card-title font-weight-bold">Hellen Mascaretti da Silva</h5>
                    <p class="card-text">Função: Banco de dados, Documentação TCC.</p>
                    <p class="card-text">Participou do desenvolvimento do Banco de dados, da documentação e banner.</p>
                </div>
            </div>
        </div>

        <!-- Membro 5 -->
        <div class="col-md-4 col-lg-2 mb-4">
            <div class="card shadow-sm">
                <img src="/assets/Isabella.jpeg" class="card-img-top" alt="Foto de Membro 5">
                <div class="card-body text-justify">
                    <h5 class="card-title font-weight-bold">Isabella Esteves Prado</h5>
                    <p class="card-text">Função: Documentação TCC.</p>
                    <p class="card-text">Participou do desenvolvimento da documentação, sugestões de design e na realização de testes das funções do site.</p>
                </div>
            </div>
        </div>
    </div>
</div>
