<div class="search-container">
  <div class="input-group mb-3">
    <input
      type="text"
      [(ngModel)]="query"
      (input)="buscarLivros()"
      placeholder="Buscar por título ou autor"
      class="form-control"
    />
    <button
      class="btn custom-search-button"
      data-bs-toggle="modal"
      data-bs-target="#livrosModal"
    >
      <i class="bi bi-search text-white"></i>
    </button>
  </div>

  <!-- Modal com os resultados da busca -->
  <div
    class="modal fade"
    id="livrosModal"
    tabindex="-1"
    aria-labelledby="livrosModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="livrosModalLabel">Livros Encontrados</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            <li
              *ngFor="let livro of livros"
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div>
                <h5 class="mb-1">{{ livro.name }}</h5>
                <p class="mb-1 text-muted">{{ livro.author }}</p>
              </div>
              <button
                class="btn btn-detalhes btn-sm"
                (click)="navegarParaDetalhes(livro.id)"
                data-bs-dismiss="modal"
              >
                Ver Detalhes
              </button>
            </li>
          </ul>
          <p *ngIf="livros.length === 0" class="text-center text-danger mt-3">
            Nenhum livro encontrado.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
