<body>
  <!-- Banner -->
  <a href="/home">
    <img src="/assets/fred_banner1.png" alt="Banner do site Sorobooks" class="top-image">
  </a>  

  <!-- Menu de navegação -->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #8d573a; border: 2px solid #000;">
    <div class="container">
      <!-- Botão do menu hamburguer -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <button class="btn" style="background-color: #8d573a; color: white;" routerLink="/form-livro">ADICIONE SEU LIVRO AQUI</button>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">INÍCIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/livros">LIVROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/suporte">SUPORTE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/equipe">EQUIPE</a>
          </li>

          <!-- Aba Perfil -->
          <li class="nav-item dropdown" *ngIf="!isAuthenticated">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PERFIL</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/login">LOGIN</a>
              <a class="dropdown-item" routerLink="/cadastro">CRIAR CONTA</a>
            </div>
          </li>

          <li class="nav-item dropdown" *ngIf="isAuthenticated">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PERFIL</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" *ngIf="authService.isAuthorized()" routerLink="/adm">CONFIGURAÇÕES</a>
              <a class="dropdown-item" routerLink="/perfil">PERFIL</a>
              <a class="dropdown-item" routerLink="/estante">MINHA ESTANTE</a>
              <a class="dropdown-item" routerLink="/trocas">NOTIFICAÇÕES DE TROCA</a>
              <a class="dropdown-item" (click)="logout()">SAIR</a>
            </div>
          </li>
        </ul> 
        
        <app-busca-livros></app-busca-livros>

      </div>
    </div>
  </nav>

  <!-- Conteúdo principal -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <!-- Rodapé -->
  <footer class="rodape">
    <p>&copy; 2024 Sorobooks - Todos os direitos reservados.</p>
  </footer>
</body>
