<div class="container-formulario">
  <div class="caixa-formulario">
    <h2 class="titulo-formulario">
      <i class="bi bi-plus-circle me-2"></i>Adicione seu Livro!
    </h2>
    
    <form (ngSubmit)="adicionarLivro()">
      <div class="campo-formulario">
        <label for="name">
          <i class="bi bi-book me-2"></i>Nome
        </label>
        <input [(ngModel)]="novoLivro.name" name="name" placeholder="Nome do livro" required class="input-campo">
      </div>

      <div class="campo-formulario">
        <label for="author">
          <i class="bi bi-person-fill me-2"></i>Autor
        </label>
        <input [(ngModel)]="novoLivro.author" name="author" placeholder="Nome do autor" required class="input-campo">
      </div>

      <div class="campo-formulario">
        <label for="genre">
          <i class="bi bi-tags-fill me-2"></i>Gênero
        </label>
        <input [(ngModel)]="novoLivro.genre" name="genre" placeholder="Gênero do livro" required class="input-campo">
      </div>

      <div class="campo-formulario">
        <label for="file">
          <i class="bi bi-image me-2"></i>Imagem
        </label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" class="input-campo">
        <div *ngIf="previewUrl" class="mt-3">
          <img [src]="previewUrl" alt="Preview da Imagem" class="img-fluid" style="max-width: 200px; height: auto;">
        </div>
      </div>

      <div class="campo-formulario">
        <label for="description">
          <i class="bi bi-pencil-fill me-2"></i>Descrição
        </label>
        <textarea [(ngModel)]="novoLivro.description" name="description" placeholder="Descreva o livro" required class="input-campo"></textarea>
      </div>

      <!-- Mensagem de erro -->
      <div *ngIf="errorMessage" class="mensagem-erro">
        <i class="bi bi-exclamation-circle me-2"></i>{{ errorMessage }}
      </div>

      <button type="submit" class="btn-enviar">
        <i class="bi bi-check-circle me-2"></i>Adicionar Livro
      </button>
    </form>
  </div>
</div>
