<div class="container-formulario">
  <div class="caixa-formulario">
    <h2 class="titulo-formulario">ADICIONE SEU LIVRO!</h2>
    
    <form (ngSubmit)="adicionarLivro()">
      <div class="campo-formulario">
        <input [(ngModel)]="novoLivro.name" name="name" placeholder="Nome" required class="input-campo">
      </div>
      <div class="campo-formulario">
        <input [(ngModel)]="novoLivro.author" name="author" placeholder="Autor" required class="input-campo">
      </div>
      <div class="campo-formulario">
        <input [(ngModel)]="novoLivro.genre" name="genre" placeholder="Gênero" required class="input-campo">
      </div>
      <div class="campo-formulario">
        <input [(ngModel)]="novoLivro.picture" name="picture" placeholder="URL da Imagem" required class="input-campo">
      </div>
      <div class="campo-formulario">
        <textarea [(ngModel)]="novoLivro.description" name="description" placeholder="Descrição" required class="input-campo"></textarea>
      </div>

      <!-- Mensagem de erro -->
      <div *ngIf="errorMessage" class="mensagem-erro">{{ errorMessage }}</div>

      <button type="submit" class="btn-enviar">Adicionar Livro</button>
    </form>
  </div>
</div>
