<div class="container mt-4">
  <div class="text-center bg-light p-4 rounded shadow-sm">
    <h1 style="color: #8d573a;">Meus Livros</h1>
  </div>

  <div class="row mt-4">
    <div *ngFor="let livro of livros" class="col-md-4 col-sm-6 mb-4">
      <div class="card livro">
        <!-- Verifica se a imagem é Base64 e, caso contrário, ajusta -->
        <img *ngIf="livro.picture" [src]="livro.picture.startsWith('data:image') ? livro.picture : 'data:image/jpeg;base64,' + livro.picture" class="card-img-top" alt="Imagem do Livro">
        <div class="card-body">
          <h5 class="card-title">{{ livro.name }}</h5>
          <p class="card-text"><i class="bi bi-person-fill"></i> <strong>Autor:</strong> {{ livro.author }}</p>
          <p class="card-text"><i class="bi bi-person-lines-fill"></i> <strong>Publicado por:</strong> {{ livro.usuarioPublicador }}</p>
          
          <button *ngIf="livro.id" class="btn btn-custom w-100" (click)="navegarParaDetalhes(livro.id)">
            <i class="bi bi-eye-fill"></i> Ver Detalhes
          </button>
          
          <!-- Botões de Editar e Excluir só visíveis para o usuário que postou o livro -->
          <button *ngIf="livro.usuarioPublicador === userName" class="btn btn-warning btn-sm mt-2" (click)="openEditBookModal(livro, editBookModal)">
            <i class="bi bi-pencil-fill"></i> Editar
          </button>
          <button *ngIf="livro.usuarioPublicador === userName" class="btn btn-danger btn-sm mt-2" (click)="openDeleteBookModal(livro, deleteModal)">
            <i class="bi bi-trash-fill"></i> Excluir
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Edição do Livro -->
<div class="modal" tabindex="-1" role="dialog" #editBookModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Livro</h5>
        <button type="button" class="close" (click)="modalService.dismissAll()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateBook(livroToEdit)">
          <div class="form-group">
            <label for="livroName">Nome do Livro</label>
            <input type="text" class="form-control" id="livroName" [(ngModel)]="livroToEdit?.name" name="name" required>
          </div>
          <div class="form-group">
            <label for="livroAuthor">Autor</label>
            <input type="text" class="form-control" id="livroAuthor" [(ngModel)]="livroToEdit?.author" name="author" required>
          </div>
          <div class="form-group">
            <label for="livroDescription">Descrição</label>
            <textarea class="form-control" id="livroDescription" [(ngModel)]="livroToEdit?.description" name="description"></textarea>
          </div>
          <div class="form-group">
            <label for="livroGenre">Gênero</label>
            <input type="text" class="form-control" id="livroGenre" [(ngModel)]="livroToEdit?.genre" name="genre" required>
          </div>
          <div class="form-group">
            <label for="livroPicture">Imagem</label>
            <input type="file" class="form-control" id="livroPicture" (change)="onFileSelected($event)">
          </div>
          <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Exclusão de Livro -->
<div class="modal" tabindex="-1" role="dialog" #deleteModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmar Exclusão</h5>
        <button type="button" class="close" (click)="modalService.dismissAll()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Tem certeza de que deseja excluir este livro?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalService.dismissAll()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="deleteBook(livroToDelete?.id)">Excluir</button>
      </div>
    </div>
  </div>
</div>
