.livro-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.livro-actions {
  margin-top: auto; 
}

.card-img-top {
  height: 250px; 
  object-fit: cover; 
}
