body {
  background: #ded8c3;
  display: flex;
  flex-direction: column; /* Para que o rodapé fique na parte inferior */
  min-height: 100vh; /* Para ocupar toda a altura da tela */
  margin: 0; /* Remove margem padrão do body */
  font-family: 'Times New Roman', Times, serif;
}

.content {
  flex: 1; /* Isso garante que o conteúdo ocupe o espaço disponível */
}

/* Imagem no topo */
.top-image {
  display: block;
  margin: 0 auto;
  max-width: 100%; 
  height: auto; 
  border: none;
  border-radius: 15px;
  transition: box-shadow 0.3s, transform 0.3s; /* Transição adicional */
}

.top-image:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Sombra ao passar o mouse */
  transform: scale(1.05); /* Aumenta ligeiramente a imagem ao passar o mouse */
}

.etec, .fred {
  display: block;
  margin: 20px auto; /* Espaço em cima e embaixo */
  max-width: 100%; 
  border-radius: 15px;
}

@media (max-width: 768px) {
  .top-image {
    width: 100%; /* Imagem tamanho máximo em celulares */
  }

  .fred {
    width: 80px;
  }
}

@media (min-width: 992px) {
  .top-image {
    width: 40%; 
  }

  .fred {
    width: 120px;
  }
}

.nav-item {
  font-weight: bold;
  position: relative;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  margin-left: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Adicionando transição de cor */
  background-color: #b48f6b;
  z-index: 1; /* Para que fique atrás do dropdown */
}

.nav-item:hover {
  transform: translateY(-10px);
}

.navbar .nav-link {
  color: #000; /* Cor preta para os links */
  transition: color 0.3s ease; /* Transição suave na cor */
}

.navbar .nav-link:hover {
  color: #D4AF37;  
}

.dropdown-item:hover {
  cursor: pointer;
  color: #D4AF37;
  background-color: #8d573a;
}

.dropdown-menu {
  z-index: 1050; /* Garantir que fique na frente */
}

/* Rodapé */
.rodape {
  background-color: #8d573a;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  height: 50px;
  border: 2px solid #000;
  margin-top: auto; /* Isso garante que o rodapé fique no final da página */
}
