.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #333;
}

.card-text {
  color: #555;
}

.btn-custom {
background-color: #8d573a;
border-color: #8d573a;
color: #ffffff;
font-weight: 600;
}

.btn-custom:hover {
background-color: #a06a4e;
border-color: #a06a4e;
}
