.livro-detalhes {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
  overflow: hidden;
  max-width: 700px;
  margin: 0 auto;
}

.livro-imagem {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.card-title {
  color: #4b3e29;
  font-weight: 700;
  font-size: 1.5rem;
}

.card-text {
  color: #6c757d;
}

.btn-custom {
  background-color: #8d573a;
  border-color: #8d573a;
  color: #ffffff;
  font-weight: 600;
}

.btn-custom:hover {
  background-color: #a06a4e;
  border-color: #a06a4e;
}
